.App {
  display: flex;
}

.Map {
  width: 80%;
}

.tombs-list {
  width: 20%;
  height: 600px;
  overflow-y: scroll;
}

.tombs-list ul {
  list-style: none;
}

.tombs-list ul li::before {
  content: '\200B';
}

.info-text.hidden {
  display: none;
}
