/* THE BASICS */

body {
  overflow-x: hidden;
}

main {
  display: flex;
}

#page-heading {
  font-size: 16px;
  text-align: center;
}

.skip-link {
  position: absolute;
  left: -1000px;
}

.hamburger-menu {
  display: none;
}

/* MAP */

.Map {
  width: 80%;
  height: 100vh;
}

.info-thumbnail {
  height: 200px;
}
.info-with-img {
  display: flex;
}
.info-text {
  font-size: 12px;
}

/* FILTERS */

.Filter {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

.text-filter {
  width: 100%;
}

.checkboxes {
  background-color: white;
}

.checkbox-text {
  font-size: 12px;
}

input.filter-checkbox {
  padding: 30px;
}

/* LIST VIEW */

.List {
  width: 20%;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  overflow-x: hidden;
}

.tombs-list ul {
  list-style: none;
  padding-left: 0;
}

.list-button {
  width: 100%;
  border: none;
}

.tombs-list ul li::before {
  content: '\200B';
}

.info-text {
  background-color: white;
}

/* STYLES FOR MOBILE */

@media only screen and (max-width: 500px) {
  /* Menu button appears when viewport width is below 500px */

  .hamburger-menu {
    display: block;
    position: absolute;
    left: 0;
    z-index: 10;
    height: 30px;
  }

  /* LIST VIEW MOBILE */

  .List {
    left: -1000px;
    position: fixed;
    top: 30px;
    z-index: 1;
    width: 30%;
  }
  .List.enter-menu {
    left: 0;
  }

  /* MAP MOBILE */

  .Map {
    width: 100%;
  }

  .Map.enter-menu {
    width: 70%;
    position: absolute;
    right: 0;
  }

  .info-thumbnail {
    max-height: 150px;
  }

  /* FILTER MOBILE */

  .Filter {
    width: 70%;
  }

  .text-filter {
    height: 30px;
  }
  #images-checkbox {
    height: 30px;
    width: 30px;
  }
  .checkbox-text {
    font-size: 17px;
  }
}
