.App {
  display: flex;
}

.Map {
  width: 80%;
}

.Filter {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

.text-filter {
  width: 100%;
}

.List {
  width: 20%;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  overflow-x: hidden;
}

.tombs-list ul {
  list-style: none;
  padding-left: 0;
}

.list-button {
  width: 100%;
}

.tombs-list ul li::before {
  content: '\200B';
}

.info-thumbnail {
  height: 200px;
}
.info-with-img {
  display: flex;
}
.info-text {
  font-size: 12px;
}

.checkboxes {
  background-color: white;
}

.checkbox-text {
  font-size: 12px;
}

input.filter-checkbox {
  padding: 30px;
}

.hamburger-menu {
  display: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 500px) {
  .List {
    transition: left 0.5s ease;
    left: -1000px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 40%;
  }
  .List.visible {
    left: 0;
  }
  .Map {
    width: 100%;
  }

  .Filter {
    width: 80%;
  }

  .text-filter {
    height: 30px;
  }
  #images-checkbox {
    height: 30px;
    width: 30px;
  }
  .checkbox-text {
    font-size: 17px;
  }
  .hamburger-menu {
    display: block;
    position: absolute;
    left: 0;
    z-index: 10;
    height: 30px;
  }
}
